In [1]:
import pandas as pd

## Read CSVs

In [2]:
billboard = pd.read_csv("data/billboard.csv", index_col = 0)
itunes = pd.read_csv("data/itunes.csv", index_col = 0)
shazam = pd.read_csv("data/shazam.csv", index_col = 0)
spotify = pd.read_csv("data/spotify_csv_data.csv", index_col = 0)

## Clean Billboard data

In [3]:
billboard = billboard.drop_duplicates(subset=["song_title","artist"])
billboard["song_title"] = [item[0] for item in billboard["song_title"].str.split("(")]
billboard["song_title"] = billboard["song_title"].str.lower()
billboard["song_title"] = billboard["song_title"].str.strip()
billboard["artist"] = billboard["artist"].str.lower()
billboard["artist"] = billboard["artist"].str.strip()
billboard.count()

song_title             100
artist                 100
billboard_rank         100
billboard_last_week     85
billboard_peak         100
billboard_duration     100
dtype: int64

In [4]:
billboard.head()

,song_title,artist,billboard_rank,billboard_last_week,billboard_peak,billboard_duration
0,highest in the room,travis scott,1,NaN,1,1
1,truth hurts,lizzo,2,1.0,1,23
2,senorita,shawn mendes & camila cabello,3,2.0,1,16
3,"10,000 hours",dan + shay & justin bieber,4,NaN,4,1
4,someone you loved,lewis capaldi,5,3.0,3,22

## Clean iTunes data

In [5]:
itunes.count()

itunes_rank    200
song_title     200
artist         200
genre          200
dtype: int64

In [6]:
itunes = itunes.drop_duplicates(subset=["song_title","artist"])
itunes["song_title"] = [item[0] for item in itunes["song_title"].str.split("(")]
itunes["song_title"] = itunes["song_title"].str.lower()
itunes["song_title"] = itunes["song_title"].str.strip()
itunes["artist"] = itunes["artist"].str.lower()
itunes["artist"] = itunes["artist"].str.strip()
itunes.count()

itunes_rank    195
song_title     195
artist         195
genre          195
dtype: int64

In [7]:
itunes.head()

   itunes_rank         song_title                      artist          genre
0          1.0           memories                    maroon 5            Pop
1          2.0       10,000 hours  dan + shay & justin bieber        Country
2          3.0            circles                 post malone  Hip Hop / Rap
3          4.0        truth hurts                       lizzo            Pop
4          5.0  someone you loved               lewis capaldi    Alternative

## Clean Shazam data

In [8]:
shazam.count()

song_name      200
artist         200
shazam_rank    200
dtype: int64

In [9]:
shazam = shazam.rename(columns={"song_name": "song_title"})
shazam["song_title"] = [item[0] for item in shazam["song_title"].str.split("(")]
shazam["song_title"] = shazam["song_title"].str.lower()
shazam["song_title"] = shazam["song_title"].str.strip()
shazam["artist"] = shazam["artist"].str.lower()
shazam["artist"] = shazam["artist"].str.strip()
shazam.count()

song_title     200
artist         200
shazam_rank    200
dtype: int64

In [10]:
shazam.head()

          song_title                     artist  shazam_rank
0  someone you loved              lewis capaldi            1
1           memories                   maroon 5            2
2            circles                post malone            3
3            ballin’  mustard feat. roddy ricch            4
4        truth hurts                      lizzo            5

## Clean Spotify data

In [11]:
spotify.count()

song_title         100
artist             100
spotify_streams    100
dtype: int64

In [12]:
spotify = spotify.reset_index()
spotify["song_title"] = [item[0] for item in spotify["song_title"].str.split("(")]
spotify["song_title"] = spotify["song_title"].str.lower()
spotify["song_title"] = spotify["song_title"].str.strip()
spotify["artist"] = spotify["artist"].str.lower()
spotify["artist"] = spotify["artist"].str.strip()
spotify.count()

spotify_rank       100
song_title         100
artist             100
spotify_streams    100
dtype: int64

In [13]:
spotify.head()

   spotify_rank           song_title        artist  spotify_streams
0             1  highest in the room  travis scott         20518547
1             2         10,000 hours    dan + shay         11129577
2             3              circles   post malone         10046611
3             4               bandit    juice wrld          9652455
4             5                223's     ynw melly          7409895

## Merge DataFrames

In [14]:
bill_itunes = pd.merge(billboard, itunes, how="outer", on=["song_title","artist"])
bill_itunes

,song_title,artist,billboard_rank,billboard_last_week,billboard_peak,billboard_duration,itunes_rank,genre
0,highest in the room,travis scott,1.0,NaN,1.0,1.0,31.0,Hip Hop / Rap
1,truth hurts,lizzo,2.0,1.0,1.0,23.0,4.0,Pop
2,senorita,shawn mendes & camila cabello,3.0,2.0,1.0,16.0,NaN,NaN
3,"10,000 hours",dan + shay & justin bieber,4.0,NaN,4.0,1.0,2.0,Country
4,someone you loved,lewis capaldi,5.0,3.0,3.0,22.0,5.0,Alternative
...,...,...,...,...,...,...,...,...
240,panini,lil nas x & dababy,NaN,NaN,NaN,NaN,196.0,Hip Hop / Rap
241,ghostbusters,ray parker jr.,NaN,NaN,NaN,NaN,197.0,Soundtrack
242,rearview town,jason aldean,NaN,NaN,NaN,NaN,198.0,Country
243,we were,keith urban,NaN,NaN,NaN,NaN,199.0,Country
244,us,james bay,NaN,NaN,NaN,NaN,200.0,Alternative

In [15]:
bill_it_spot = pd.merge(bill_itunes, spotify, how="outer", on=["song_title","artist"])
bill_it_spot

,song_title,artist,billboard_rank,billboard_last_week,billboard_peak,billboard_duration,itunes_rank,genre,spotify_rank,spotify_streams
0,highest in the room,travis scott,1.0,NaN,1.0,1.0,31.0,Hip Hop / Rap,1.0,20518547.0
1,truth hurts,lizzo,2.0,1.0,1.0,23.0,4.0,Pop,6.0,7065663.0
2,senorita,shawn mendes & camila cabello,3.0,2.0,1.0,16.0,NaN,NaN,NaN,NaN
3,"10,000 hours",dan + shay & justin bieber,4.0,NaN,4.0,1.0,2.0,Country,NaN,NaN
4,someone you loved,lewis capaldi,5.0,3.0,3.0,22.0,5.0,Alternative,9.0,6105495.0
...,...,...,...,...,...,...,...,...,...,...
294,better,khalid,NaN,NaN,NaN,NaN,NaN,NaN,94.0,2188753.0
295,7 rings,ariana grande,NaN,NaN,NaN,NaN,NaN,NaN,95.0,2172126.0
296,goosebumps,travis scott,NaN,NaN,NaN,NaN,NaN,NaN,96.0,2165826.0
297,pure water,mustard,NaN,NaN,NaN,NaN,NaN,NaN,97.0,2146547.0
298,robbery,juice wrld,NaN,NaN,NaN,NaN,NaN,NaN,99.0,2142075.0

In [16]:
all_data = pd.merge(bill_it_spot, shazam, how="outer", on=["song_title","artist"])
all_data

,song_title,artist,billboard_rank,billboard_last_week,billboard_peak,billboard_duration,itunes_rank,genre,spotify_rank,spotify_streams,shazam_rank
0,highest in the room,travis scott,1.0,NaN,1.0,1.0,31.0,Hip Hop / Rap,1.0,20518547.0,23.0
1,truth hurts,lizzo,2.0,1.0,1.0,23.0,4.0,Pop,6.0,7065663.0,5.0
2,senorita,shawn mendes & camila cabello,3.0,2.0,1.0,16.0,NaN,NaN,NaN,NaN,NaN
3,"10,000 hours",dan + shay & justin bieber,4.0,NaN,4.0,1.0,2.0,Country,NaN,NaN,21.0
4,someone you loved,lewis capaldi,5.0,3.0,3.0,22.0,5.0,Alternative,9.0,6105495.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
400,what you did,mahalia feat. ella mai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,191.0
401,steady love,india.arie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,194.0
402,under the sun,"dreamville, j. cole & lute feat. dababy",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196.0
403,piece of your heart,meduza feat. goodboys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0
404,maayaa,juls feat. tiggs da author & santi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200.0

## Combine song titles with varying artist names

In [26]:
all_data2 = all_data.groupby("song_title")
all_data2.max().reset_index()

,song_title,artist,billboard_rank,billboard_last_week,billboard_peak,billboard_duration,itunes_rank,spotify_rank,spotify_streams,shazam_rank
0,"1, 2 many",luke combs & brooks & dunn,NaN,NaN,NaN,NaN,136.0,NaN,NaN,NaN
1,"10,000 hours",dan + shay & justin bieber,4.0,NaN,4.0,1.0,2.0,2.0,11129577.0,21.0
2,11 pm,maluma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,189.0
3,16,highly suspect,NaN,NaN,NaN,NaN,150.0,NaN,NaN,123.0
4,223's,ynw melly feat. 9lokknine,37.0,34.0,34.0,5.0,135.0,5.0,7409895.0,61.0
...,...,...,...,...,...,...,...,...,...,...
331,yes,"fat joe, cardi b & anuel aa",NaN,NaN,NaN,NaN,184.0,NaN,NaN,46.0
332,you are the reason,calum scott & leona lewis,NaN,NaN,NaN,NaN,174.0,NaN,NaN,NaN
333,you need to calm down,taylor swift,28.0,27.0,2.0,17.0,23.0,65.0,2582875.0,128.0
334,you say,lauren daigle,NaN,NaN,NaN,NaN,21.0,NaN,NaN,54.0
335,youngblood,5 seconds of summer,NaN,NaN,NaN,NaN,194.0,NaN,NaN,164.0

In [25]:
all_data2.max().reset_index().to_csv(r'all_data.csv')